services:
  postgres:
    image: postgres:18-alpine
    container_name: aluguei_postgres
    environment:
      POSTGRES_DB: aluguei_db
      POSTGRES_USER: aluguei_user
      POSTGRES_PASSWORD: aluguei_password
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - aluguei_network

  adminer:
    image: adminer:4.8.1
    container_name: aluguei_adminer
    ports:
      - "8081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - aluguei_network

  redis:
    image: redis:8-alpine
    container_name: aluguei_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - aluguei_network

volumes:
  postgres_data:
  redis_data:

networks:
  aluguei_network:
    driver: bridge