.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 1.2s infinite;

  background: linear-gradient(
    110deg,
    transparent 20%,
    rgba(255, 255, 255, 0.243) 45%,
    rgba(255, 255, 255, 0.139) 60%,
    transparent 80%
  );
}

.dark .shimmer::after {
  background: linear-gradient(
    110deg,
    transparent 20%,
    rgba(255, 255, 255, 0.08) 45%,
    rgba(255, 255, 255, 0.03) 60%,
    transparent 80%
  );
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}